@import '../../../../styles/global.scss';

.modal-alert-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-alert-container--no-glassmorph {
  background: rgba(0, 0, 0, 0.3);
}

.modal-alert-container--glassmorph {
  @include glassmorphism;
}

.modal-alert-content {
  background-color: $ACCENT_800;
  border: 2px solid $ACCENT_700;
  color: $FONT_COLOR;
  padding: pxToRem(8) pxToRem(12) pxToRem(12) pxToRem(12);
  border-radius: pxToRem(12);
  min-width: pxToRem(300);
  max-width: 95%;
  max-height: 95%;
  overflow: auto;
}

.modal-alert-title {
  font-size: $FONT_XL;
  font-weight: 600;
  margin-bottom: pxToRem(10);
}

.modal-alert-message {
  font-size: $FONT_SM;
  margin-bottom: pxToRem(10);
  color: $ACCENT_100;
}

.modal-alert-actions {
  display: flex;
  justify-content: flex-end;
  gap: pxToRem(10);
}

.modal-alert-button {
  display: flex;
  justify-content: flex-end;
  margin-top: pxToRem(10);

  background-color: $GRAY_600;
  color: $FONT_COLOR;
  border: none;
  border-radius: pxToRem(10);
  padding: 6px 14px;
  font-size: $FONT_MD;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $GRAY_700;
  }
}

.modal-alert-button--primary {
  background-color: $PRIMARY_800;

  &:hover {
    background-color: $PRIMARY_700;
  }
}

.modal-alert-button--blue {
  background-color: $BLUE_800;

  &:hover {
    background-color: $BLUE_700;
  }
}

.modal-alert-button--purple {
  background-color: $PURPLE_800;

  &:hover {
    background-color: $PURPLE_700;
  }
}

.modal-alert-button--green {
  background-color: $GREEN_800;

  &:hover {
    background-color: $GREEN_700;
  }
}

.modal-alert-button--yellow {
  background-color: $YELLOW_800;

  &:hover {
    background-color: $YELLOW_700;
  }
}

.modal-alert-button--red {
  background-color: $RED_800;

  &:hover {
    background-color: $RED_700;
  }
}

.modal-alert-button--cyan {
  background-color: $CYAN_800;

  &:hover {
    background-color: $CYAN_700;
  }
}

.modal-alert-button--pink {
  background-color: $PINK_800;

  &:hover {
    background-color: $PINK_700;
  }
}
