@use '../../../../styles/breakpoints.scss' as *;
@use '../../../../styles/pxToRem.scss' as *;

.member-row-name-container {
  display: flex;
  align-items: center;
  gap: pxToRem(10);
}

.member-row-image {
  width: pxToRem(45);
  height: pxToRem(45);
  border-radius: var(--radius-pill);
}

.member-row-image-default {
  width: pxToRem(45);
  height: pxToRem(45);
  border-radius: var(--radius-pill);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: pxToRem(6);
  background-color: var(--primary-700);
  font-size: var(--font-xl);
  color: var(--font-color);
}

.member-row-details {
  display: flex;
  flex-direction: column;
}

.member-row-display-name {
  font-size: pxToRem(20);
  font-weight: bold;
}

.member-row-email {
  font-size: 12px;
  color: var(--font-light-color);
}

.member-row-body-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: pxToRem(10);
}

.member-row-body-icon-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: pxToRem(10);
  border-radius: var(--radius-sm);
  background-color: var(--accent-900);

  &:hover {
    background-color: var(--primary-700);
  }
}

.member-row-body-icon-trash {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: pxToRem(10);
  border-radius: var(--radius-sm);
  background-color: var(--accent-900);

  &:hover {
    background-color: var(--red-700);
  }
}

.member-row-body-icon-close {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: pxToRem(10);
  border-radius: var(--radius-sm);
  background-color: var(--accent-900);

  &:hover {
    background-color: var(--red-800);
  }
}

.member-row-body-icon-check {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: pxToRem(10);
  border-radius: var(--radius-sm);
  background-color: var(--accent-900);

  &:hover {
    background-color: var(--green-800);
  }
}

.member-row-icon-disabled {
  color: var(--accent-500);
  cursor: no-drop;

  &:hover {
    background-color: var(--accent-900);
  }
}

.member-row-permission {
  display: flex;
  align-items: center;
  gap: pxToRem(10);
  color: var(--font-light-color);
}

.member-row-timestamp {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.member-row-timestamp-date {
  font-size: pxToRem(16);
  font-weight: bold;
  color: var(--font-color);
}

.member-row-timestamp-time {
  font-size: pxToRem(12);
  color: var(--font-light-color);
}

@include mobile {
  .member-row-timestamp {
    display: none;
  }

  .joined {
    display: none;
  }
}
