:root {
  --font-color: #f3f6fb;
  --font-dark-color: #1a0c09;
  --font-light-color: #9fa9af;
  --white: #ffffff;
  --black: #000000;

  --blue-50: #edf5ff;
  --blue-100: #e1efff;
  --blue-200: #cee4fe;
  --blue-300: #b7d5f8;
  --blue-400: #96c1f2;
  --blue-500: #5ea2ef;
  --blue-600: #0072f5;
  --blue-700: #005fcc;
  --blue-800: #004799;
  --blue-900: #00254d;

  --purple-50: #f7f2fd;
  --purple-100: #f1e8fb;
  --purple-200: #eadcf8;
  --purple-300: #e0cbf5;
  --purple-400: #d1b1f0;
  --purple-500: #bc8ee9;
  --purple-600: #7828c8;
  --purple-700: #6622aa;
  --purple-800: #4d1980;
  --purple-900: #290e44;

  --green-50: #f1fdf7;
  --green-100: #e8fcf1;
  --green-200: #dafbe8;
  --green-300: #c8f9dd;
  --green-400: #adf5cc;
  --green-500: #88f1b6;
  --green-600: #17c964;
  --green-700: #13a452;
  --green-800: #108944;
  --green-900: #06371b;

  --yellow-50: #fef9f0;
  --yellow-100: #fef5e7;
  --yellow-200: #fdefd8;
  --yellow-300: #fce7c5;
  --yellow-400: #fbdba7;
  --yellow-500: #f9cb80;
  --yellow-600: #f5a524;
  --yellow-700: #b97509;
  --yellow-800: #925d07;
  --yellow-900: #4e3104;

  --red-50: #fef0f5;
  --red-100: #fee7ef;
  --red-200: #fdd8e5;
  --red-300: #fcc5d8;
  --red-400: #faa8c5;
  --red-500: #f881ab;
  --red-600: #f31260;
  --red-700: #b80a47;
  --red-800: #910838;
  --red-900: #4e041e;

  --cyan-50: #f0fcff;
  --cyan-100: #e6fafe;
  --cyan-200: #d7f8fe;
  --cyan-300: #c3f4fd;
  --cyan-400: #a5eefd;
  --cyan-500: #7ee7fc;
  --cyan-600: #06b7db;
  --cyan-700: #09aacd;
  --cyan-800: #0e8aaa;
  --cyan-900: #053b48;

  --pink-50: #fff0fb;
  --pink-100: #ffe5f8;
  --pink-200: #ffd6f3;
  --pink-300: #ffc2ee;
  --pink-400: #ffa3e5;
  --pink-500: #ff7ad9;
  --pink-600: #ff4ecd;
  --pink-700: #d6009a;
  --pink-800: #b80084;
  --pink-900: #4d0037;

  --gray-50: #c7d4dd;
  --gray-100: #97a0a7;
  --gray-200: #6a7a85;
  --gray-300: #5c6870;
  --gray-400: #505b62;
  --gray-500: #454c52;
  --gray-600: #343b3f;
  --gray-700: #292e31;
  --gray-800: #22272a;
  --gray-900: #171a1c;

  --white-50: #f3f6fb;
  --white-100: #e8ecf2;
  --white-200: #dfe3e9;
  --white-300: #d5d9df;
  --white-400: #ccd0d6;
  --white-500: #c2c8ce;
  --white-600: #b9bfc5;
  --white-700: #afb5bb;
  --white-800: #a6acb2;
  --white-900: #9ca2a8;

  --primary-50: var(--green-50);
  --primary-100: var(--green-100);
  --primary-200: var(--green-200);
  --primary-300: var(--green-300);
  --primary-400: var(--green-400);
  --primary-500: var(--green-500);
  --primary-600: var(--green-600);
  --primary-700: var(--green-700);
  --primary-800: var(--green-800);
  --primary-900: var(--green-900);

  $gradient: linear-gradient(
    90deg,
    var(--primary-800) 0%,
    var(--primary-600) 100%
  );
  --gradient-hover: linear-gradient(
    90deg,
    var(--primary-800) 0%,
    var(--primary-700) 100%
  );
  --gradient-flat: linear-gradient(
    90deg,
    var(--primary-500) 0%,
    var(--primary-300) 100%
  );
  --gradient--flat-hover: linear-gradient(
    90deg,
    var(--primary-400) 0%,
    var(--primary-300) 100%
  );

  --accent-50: var(--gray-50);
  --accent-100: var(--gray-100);
  --accent-200: var(--gray-200);
  --accent-300: var(--gray-300);
  --accent-400: var(--gray-400);
  --accent-500: var(--gray-500);
  --accent-600: var(--gray-600);
  --accent-700: var(--gray-700);
  --accent-800: var(--gray-800);
  --accent-900: var(--gray-900);
}
