$FONT_COLOR: #f3f6fb;
$WHITE: #ffffff;
$BLACK: #000000;

$BLUE_50: #edf5ff;
$BLUE_100: #e1efff;
$BLUE_200: #cee4fe;
$BLUE_300: #b7d5f8;
$BLUE_400: #96c1f2;
$BLUE_500: #5ea2ef;
$BLUE_600: #0072f5;
$BLUE_700: #005fcc;
$BLUE_800: #004799;
$BLUE_900: #00254d;

$PURPLE_50: #f7f2fd;
$PURPLE_100: #f1e8fb;
$PURPLE_200: #eadcf8;
$PURPLE_300: #e0cbf5;
$PURPLE_400: #d1b1f0;
$PURPLE_500: #bc8ee9;
$PURPLE_600: #7828c8;
$PURPLE_700: #6622aa;
$PURPLE_800: #4d1980;
$PURPLE_900: #290e44;

$GREEN_50: #f1fdf7;
$GREEN_100: #e8fcf1;
$GREEN_200: #dafbe8;
$GREEN_300: #c8f9dd;
$GREEN_400: #adf5cc;
$GREEN_500: #88f1b6;
$GREEN_600: #17c964;
$GREEN_700: #13a452;
$GREEN_800: #108944;
$GREEN_900: #06371b;

$YELLOW_50: #fef9f0;
$YELLOW_100: #fef5e7;
$YELLOW_200: #fdefd8;
$YELLOW_300: #fce7c5;
$YELLOW_400: #fbdba7;
$YELLOW_500: #f9cb80;
$YELLOW_600: #f5a524;
$YELLOW_700: #b97509;
$YELLOW_800: #925d07;
$YELLOW_900: #4e3104;

$RED_50: #fef0f5;
$RED_100: #fee7ef;
$RED_200: #fdd8e5;
$RED_300: #fcc5d8;
$RED_400: #faa8c5;
$RED_500: #f881ab;
$RED_600: #f31260;
$RED_700: #b80a47;
$RED_800: #910838;
$RED_900: #4e041e;

$CYAN_50: #f0fcff;
$CYAN_100: #e6fafe;
$CYAN_200: #d7f8fe;
$CYAN_300: #c3f4fd;
$CYAN_400: #a5eefd;
$CYAN_500: #7ee7fc;
$CYAN_600: #06b7db;
$CYAN_700: #09aacd;
$CYAN_800: #0e8aaa;
$CYAN_900: #053b48;

$PINK_50: #fff0fb;
$PINK_100: #ffe5f8;
$PINK_200: #ffd6f3;
$PINK_300: #ffc2ee;
$PINK_400: #ffa3e5;
$PINK_500: #ff7ad9;
$PINK_600: #ff4ecd;
$PINK_700: #d6009a;
$PINK_800: #b80084;
$PINK_900: #4d0037;

$GRAY_50: #c7d4dd;
$GRAY_100: #97a0a7;
$GRAY_200: #6a7a85;
$GRAY_300: #5c6870;
$GRAY_400: #505b62;
$GRAY_500: #454c52;
$GRAY_600: #343b3f;
$GRAY_700: #292e31;
$GRAY_800: #22272a;
$GRAY_900: #171a1c;

$PRIMARY_50: $GREEN_50;
$PRIMARY_100: $GREEN_100;
$PRIMARY_200: $GREEN_200;
$PRIMARY_300: $GREEN_300;
$PRIMARY_400: $GREEN_400;
$PRIMARY_500: $GREEN_500;
$PRIMARY_600: $GREEN_600;
$PRIMARY_700: $GREEN_700;
$PRIMARY_800: $GREEN_800;
$PRIMARY_900: $GREEN_900;

$GRADIENT: linear-gradient(90deg, $PRIMARY_800 0%, $PRIMARY_600 100%);
$GRADIENT_HOVER: linear-gradient(90deg, $PRIMARY_800 0%, $PRIMARY_700 100%);
$GRADIENT_FLAT: linear-gradient(90deg, $PRIMARY_500 0%, $PRIMARY_300 100%);
$GRADIENT_FLAT_HOVER: linear-gradient(
  90deg,
  $PRIMARY_400 0%,
  $PRIMARY_300 100%
);

$ACCENT_50: $GRAY_50;
$ACCENT_100: $GRAY_100;
$ACCENT_200: $GRAY_200;
$ACCENT_300: $GRAY_300;
$ACCENT_400: $GRAY_400;
$ACCENT_500: $GRAY_500;
$ACCENT_600: $GRAY_600;
$ACCENT_700: $GRAY_700;
$ACCENT_800: $GRAY_800;
$ACCENT_900: $GRAY_900;

@mixin glassmorphism {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
}
