@import './breakpoints.scss';
@import './pxToRem.scss';

@mixin glassmorphism {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
}

.mobile-hidden {
  @include mobile {
    display: none;
  }
}

.tablet-hidden {
  @include tablet {
    display: none;
  }
}

.laptop-hidden {
  @include laptop {
    display: none;
  }
}

.desktop-hidden {
  @include desktop {
    display: none;
  }
}

.mobile-shown {
  display: none;

  @include mobile {
    display: flex;
  }
}

.tablet-shown {
  display: none;

  @include tablet {
    display: flex;
  }
}

.laptop-shown {
  @include laptop {
    display: none;
  }
}

.desktop-shown {
  display: none;

  @include desktop {
    display: flex;
  }
}
