@use './pxToRem.scss' as *;

:root {
  --radius-xs: #{pxToRem(5)};
  --radius-sm: #{pxToRem(8)};
  --radius-md: #{pxToRem(12)};
  --radius-lg: #{pxToRem(18)};
  --radius-xl: #{pxToRem(24)};
  --radius-2xl: #{pxToRem(32)};
  --radius-squared: 33%;
  --radius-rounded: 50%;
  --radius-pill: 100%;
}
