@use './colors.scss' as *;
@use './font.scss' as *;
@use './radius.scss' as *;
@use './reset.scss' as *;
@use './shadows.scss' as *;
@use './themes.scss' as *;
@use './transitions.scss' as *;
@use './pxToRem.scss' as *;
@use './breakpoints.scss' as *;

body {
  font-size: var(--font-md);
  font-weight: var(--weight-medium);
  line-height: 1.5;
  color: var(--font-color);
  background-color: var(--accent-800);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: pxToRem(10);
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: var(--radius-xs);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-400);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent-300);
}

.input-label {
  display: block;
  font-size: var(--font-md);
  font-weight: var(--weight-semibold);
  color: var(--font-color);
  margin: 12px 0 4px 4px;
}

.input-error {
  color: var(--red-700);
  font-size: var(--font-sm);
  margin: 4px;
  display: block;
}

.input-error-general {
  color: var(--red-700);
  font-size: var(--font-md);
  margin: 4px;
  display: block;
  text-align: center;
}

.input-description {
  font-size: var(--font-sm);
  margin: 8px 0 0 4px;
  color: var(--font-light-color);
}

.input-short-description {
  font-size: var(--font-xs);
  margin: 8px 0 0 4px;
  color: var(--font-light-color);
  margin-top: -4px;
}

.input-required {
  color: var(--red-600);
  margin: 0 0 0 3px;
}

.input-theme-container {
  display: flex;
  flex-direction: row;
}

.input-theme-item {
  border: pxToRem(1) solid var(--accent-700);
  padding: pxToRem(8) pxToRem(12);
  border-right: none;

  &:first-child {
    border-radius: var(--radius-sm) 0 0 var(--radius-sm);
  }

  &:last-child {
    border-radius: 0 var(--radius-sm) var(--radius-sm) 0;
    border-right: pxToRem(1) solid var(--accent-700);
  }

  &:hover {
    cursor: pointer;
    background-color: var(--accent-700);
    color: var(--accent-100);
  }

  &.red {
    color: var(--red-700);

    &:hover {
      color: var(--red-600);
      background-color: transparent;
    }
  }

  &.yellow {
    color: var(--yellow-700);

    &:hover {
      color: var(--yellow-600);
      background-color: transparent;
    }
  }

  &.purple {
    color: var(--purple-700);

    &:hover {
      color: var(--purple-600);
      background-color: transparent;
    }
  }

  &.blue {
    color: var(--blue-700);

    &:hover {
      color: var(--blue-600);
      background-color: transparent;
    }
  }

  &.green {
    color: var(--green-700);

    &:hover {
      color: var(--green-600);
      background-color: transparent;
    }
  }
}

.mobile-hidden {
  @include mobile {
    display: none !important;
  }
}

.tablet-hidden {
  @include tablet {
    display: none !important;
  }
}

.laptop-hidden {
  @include laptop {
    display: none !important;
  }
}

.desktop-hidden {
  @include desktop {
    display: none !important;
  }
}

.mobile-shown {
  display: none !important;

  @include mobile {
    display: flex !important;
  }
}

.tablet-shown {
  display: none !important;

  @include tablet {
    display: flex !important;
  }
}

.laptop-shown {
  @include laptop {
    display: none !important;
  }
}

.desktop-shown {
  display: none !important;

  @include desktop {
    display: flex !important;
  }
}

:root {
  --status-page-max-width: 850px;
}
