/coverage
/data
/dist
/docker
/logs
/node_modules
/stats
*.db
/test
**/.dockerignore
**/.git
**/.gitignore
**/docker-compose*
**/[Dd]ockerfile*
LICENSE
README.md
.editorconfig
.lintstagedrc.json
.oxlintrc.json
.prettier*
.eslint*
/.github
yarn.lock
CODE_OF_CONDUCT.md
CONTRIBUTING.md
SECURITY.md
.env
/tmp
config.json

#node_modules
.DS_Store
#dist
dist
*.local
#.idea

