# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# production
/dist
/stats
/server/database/sqlite/lunalytics.db
/app/pages/icons.jsx
/app/components/icons/list.jsx

# misc
.DS_Store
*.pem
package-lock.json
yarn.lock

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
config.json

# typescript
*.tsbuildinfo
next-env.d.ts

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
