@import '../../styles/global.scss';

.settings-about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.settings-about-logo {
  width: pxToRem(250);
}

.settings-about-title {
  font-size: var(--font-4xl);
  font-weight: 600;
  color: var(--primary-600);
}

.settings-about-version {
  font-size: var(--font-lg);
  font-weight: 600;
  color: var(--gray-400);
}

.settings-about-link {
  font-size: var(--font-md);
  font-weight: 600;
  color: var(--accent-200);
  margin-top: pxToRem(20);
  display: block;
  &:hover {
    color: var(--primary-800);
  }
}
