@import '../../styles/global.scss';

.settings-tab {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: var(--accent-800);
  padding: pxToRem(4);
}

.settings-tab-title {
  padding: pxToRem(12);
  color: var(--accent-100);
  font-size: var(--font-2xl);
  font-weight: 700;
  text-align: center;
  border-bottom: pxToRem(3) solid var(--accent-600);
  margin-bottom: pxToRem(12);
}

.settings-tab-text {
  color: var(--accent-100);
  font-size: var(--font-2xl);
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin: pxToRem(4);
  padding: pxToRem(8) pxToRem(16);
  border-radius: pxToRem(12);

  &:hover {
    background-color: var(--accent-900);
  }

  &.active {
    background-color: var(--accent-900);
    color: var(--primary-500);
  }
}
