@use '../../../styles//breakpoints.scss' as *;

.monitor-configure {
  display: flex;
  height: 100%;
  gap: 15px;
}

.monitor-configure-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.25rem 1rem;
}

.monitor-configure-page-button {
  position: relative;
  padding: 12px;
  background-color: var(--accent-800);
  border-radius: 8px;
  font-size: var(--font-lg);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  transition: all 0.3s ease;

  &.active {
    color: var(--primary-600);
  }

  &:hover {
    background-color: var(--accent-700);
  }
  
  &.error-circle::after {
    content: "";
    position: absolute;
    top: 40%;
    right: 10px; 
    width: 10px; 
    height: 10px;
    background-color: red;
    border-radius: 50%;
  }
}

.monitor-configure-left-container {
  width: 275px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.monitor-configure-left-title {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: var(--font-xl);
  font-weight: 700;
  padding: 15px 10px 5px 10px;
}

.monitor-configure-left-subtitle {
  padding: 10px 10px 5px 10px;
  font-size: var(--font-sm);
  color: var(--font-light-color);
}

.monitor-configure-left-pages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  flex: 1;
}

.monitor-configure-buttons {
  display: flex;
  gap: 10px;
}

.monitor-configure-content {
  padding: 10px;
  background-color: var(--accent-800);
  border-radius: 8px;
  flex: 1;
}

.monitor-configure-docker-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
  padding: 16px 4px 6px 4px;
  border-bottom: 2px solid var(--accent-500);
  margin-bottom: 12px;
  font-weight: 600;
}

.monitor-configure-docker-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
  background-color: var(--accent-900);
  padding: 8px 12px;
  font-weight: 500;
  border-radius: 8px;
  margin: 12px 0;
}

.monitor-configure-docker-item-platform {
  display: flex;
  align-items: center;
  font-size: var(--font-xs);
  color: var(--font-light-color);
}

@include mobile {
  .monitor-configure {
    flex-direction: column;
  }

  .monitor-configure-container {
    grid-template-columns: 1fr;
  }

  .monitor-configure-left-container {
    width: 100%;
  }

  .monitor-configure-content {
    margin-bottom: 25px;
  }

  .monitor-configure-buttons {
    padding: 5px 10px;
  }
}
