@import '../../../styles/global.scss';

.monitor-form-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: $SPACING_5 $SPACING_6;
}

.monitor-form {
  background-color: $ACCENT_900;
  padding: $SPACING_4 $SPACING_6;
  border-radius: $RADIUS_LG;
  box-shadow: $SHADOW_SM;
  padding-bottom: $SPACING_8;
  flex: 1;
  height: min-content;
}

.monitor-form-title {
  font-size: $FONT_4XL;
  font-weight: $WEIGHT_BOLD;
  color: $FONT_COLOR;
  text-align: center;
  margin-bottom: $SPACING_5;
}

.monitor-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: pxToRem(50);
  background-color: $ACCENT_800;
  border-radius: $RADIUS_SM;
  color: $FONT_COLOR;
  font-size: $FONT_LG;
  font-weight: $WEIGHT_SEMIBOLD;
  margin-top: $SPACING_9;
  cursor: pointer;
  transition: $TRANSITION_BASE;

  &:hover {
    transition: $TRANSITION_BASE;
    background-color: $PRIMARY_800;
  }
}

.monitor-button-register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: pxToRem(50);
  background-color: $ACCENT_900;
  border-radius: $RADIUS_SM;
  color: $FONT_COLOR;
  font-size: $FONT_LG;
  font-weight: $WEIGHT_SEMIBOLD;
  margin-top: $SPACING_6;
  cursor: pointer;
  text-decoration: none;
  transition: $TRANSITION_BASE;

  &:hover {
    transition: $TRANSITION_BASE;
    background-color: $BLUE_700;
  }
}

.monitor-form-error {
  color: $RED_600;
  font-size: $FONT_XL;
  font-weight: $WEIGHT_SEMIBOLD;
  margin-top: $SPACING_3;
  text-align: center;
}
