@use '../../../styles/pxToRem.scss' as *;

.alert-container {
  display: flex;
  border-left: pxToRem(4) solid var(--primary-700);
  border-radius: pxToRem(6);
  padding: pxToRem(8) pxToRem(16);
  gap: pxToRem(10);
  background-color: var(--accent-800);
}

.alert-icon-container {
  display: flex;
  justify-content: center;
  color: var(--primary-700);
  gap: pxToRem(5);
}

.alert-title {
  font-size: var(--font-md);
  font-weight: var(--weight-semibold);
  color: var(--font-color);
  margin-bottom: pxToRem(4);
}

.alert-container-error {
  border-left: pxToRem(4) solid var(--red-700);
}

.alert-icon-container-error,
.alert-title-error {
  color: var(--red-700);
}

.alert-container-info {
  border-left: pxToRem(4) solid var(--blue-700);
}

.alert-icon-container-info,
.alert-title-info {
  color: var(--blue-700);
}

.alert-container-success {
  border-left: pxToRem(4) solid var(--green-700);
}

.alert-icon-container-success,
.alert-title-success {
  color: var(--green-700);
}

.alert-container-warning {
  border-left: pxToRem(4) solid var(--yellow-700);
}

.alert-icon-container-warning,
.alert-title-warning {
  color: var(--yellow-700);
}
