@use '../pxToRem.scss' as *;

.monitor-container {
  display: flex;
  flex-direction: column;
  gap: pxToRem(16);
  margin: pxToRem(16);
}

.monitor-left-button-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.monitor-left-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  background-color: var(--accent-800);
  border-radius: var(--radius-sm);
  cursor: pointer;
}

.monitor-none-exist {
  height: 100%;
  width: 100%;
  font-weight: bold;
  font-size: var(--font-2xl);
  color: var(--font-light-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
