@use '../pxToRem.scss' as *;

.home-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: pxToRem(16) pxToRem(12);
  gap: pxToRem(16);
  overflow-y: auto;
  padding-bottom: pxToRem(48);
}
