@use '../breakpoints.scss' as *;
@use '../pxToRem.scss' as *;

// incident-configure > ic

.ic-container {
  display: flex;
  max-width: 1200px;
  width: 100vw;
  overflow: hidden;
  flex-direction: column;
}

.ic-tab {
  display: flex;
  flex-direction: row;
  background-color: var(--accent-900);
  gap: pxToRem(4);
  transition: all 0.2s ease-in-out;
  padding: pxToRem(8) pxToRem(8) pxToRem(8) 0;
}

.ic-header {
  display: flex;
  align-items: center;
  padding: 12px 8px;
  border-bottom: 1px solid var(--accent-700);
  gap: 15px;
}

.ic-title {
  flex: 1;
  font-weight: bold;
  font-size: var(--font-xl);
  height: 50px;
  display: flex;
  align-items: center;
}

// incident-configure-header > ich

.ich {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  padding: 8px 12px;
  flex: 1;
}

.ich-title {
  font-size: var(--font-2xl);
  font-weight: 700;
}

.ich-spacer {
  font-size: var(--font-2xl);
  color: var(--accent-400);
  font-weight: 600;
}

.ich-subtitle {
  font-size: var(--font-sm);
  color: var(--font-light-color);
}

.ich-options-list {
  display: flex;
  flex-direction: row;
  padding-right: 12px;
}

.ich-options-item {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.ich-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.ic-account-container {
  overflow-y: auto;
  padding: pxToRem(24) 0 pxToRem(100) 0;
  scroll-behavior: smooth;
}

.ic-content {
  padding: pxToRem(24);
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow-y: auto;
  background-color: var(--accent-900);
  border-radius: pxToRem(12);
  box-shadow: 0 pxToRem(4) pxToRem(8) rgba(0, 0, 0, 0.2);
}

// incident-configure-monitors > icm

.icm-container {
  display: flex;
  gap: pxToRem(10);
  padding: pxToRem(10) 0;
}

.icm-title {
  flex: 1;
}

.icm-dropdown {
  width: 250px;
}

// incident-configure-monitors-list > icml

.icml-container {
  display: flex;
  flex-direction: column;
  gap: pxToRem(5);
}

.icml-item {
  display: flex;
  align-items: center;
  padding: pxToRem(10);
  border: 1px solid var(--accent-700);
  border-radius: pxToRem(12);

  transition: all 0.2s ease-in-out;

  &:hover {
    border-color: var(--accent-600);
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    .icml-item-input {
      border-color: var(--primary-700);
    }
  }
}

.icml-item-name-container {
  flex: 1;
}

.icml-item-url {
  color: var(--font-light-color);
  font-size: var(--font-xs);
}

.icml-item-input {
  appearance: none;
  -webkit-appearance: none;
  background-color: var(--accent-900);
  border: 2px solid var(--accent-700);
  border-radius: 4px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;

  &:hover {
    border-color: var(--primary-700);
  }

  &:checked {
    background-color: var(--primary-700);
    border-color: var(--primary-600);

    &::after {
      content: '';
      position: absolute;
      top: 2px;
      left: 6px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}

// incident-configure-update > icu

.icu {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: pxToRem(18);
  margin-bottom: pxToRem(24);
}

.icu-container {
  display: flex;
  flex-direction: column;
  gap: pxToRem(18);
  flex: 1;
  margin: pxToRem(12) pxToRem(12) 0px pxToRem(12);
  max-width: $BREAKPOINT_3;
  background-color: var(--accent-900);
  height: min-content;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
}

.incident-items-container {
  padding: pxToRem(0) pxToRem(12);
  gap: pxToRem(18);
  display: flex;
  flex-direction: column;
}
