@use '../pxToRem.scss' as *;

.auth-form-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, var(--accent-800), var(--accent-900));
}

.auth-form {
  background-color: var(--accent-900);
  padding: pxToRem(24) pxToRem(48);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-sm);
  max-width: pxToRem(500);
  width: 100%;
  padding-bottom: pxToRem(48);
}

.auth-form-title {
  font-size: var(--font-3xl);
  font-weight: var(--weight-bold);
  color: var(--font-color);
  text-align: center;
}

.auth-form-subtitle {
  font-size: var(--font-md);
  color: var(--accent-100);
  text-align: center;
  margin-bottom: pxToRem(24);
}

.auth-form-verify-text {
  font-size: var(--font-md);
  color: var(--accent-100);
  text-align: center;
  margin: pxToRem(32) 0;
}

.auth-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: pxToRem(50);
  background-color: var(--accent-700);
  border-radius: var(--radius-sm);
  color: var(--font-color);
  font-size: var(--font-lg);
  font-weight: var(--weight-semibold);
  margin: pxToRem(32) 0 pxToRem(20) 0;
  cursor: pointer;
  transition: var(--transition-base);

  &:hover {
    transition: var(--transition-base);
    background-color: var(--primary-800);
  }
}

.auth-form-footer {
  font-size: var(--font-md);
  color: var(--font-color);
  text-align: center;
}

.auth-see-password {
  cursor: pointer;
  transition: 0.2s all ease-in;

  &:hover {
    color: var(--primary-700);
  }
}

.login-page {
  position: relative;
  background: linear-gradient(180deg, var(--accent-900), var(--accent-800));
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: var(--font-color);
  overflow: hidden;
}

.login-card {
  background: var(--accent-700);
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 450px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.divider {
  margin-top: 1.5rem;
}

.providers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.provider-btn {
  padding: 0.75rem;
  border: none;
  border-radius: 0.5rem;
  background: var(--accent-600);
  color: var(--font-light-color);
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;

  &:hover {
    background: var(--accent-500);
  }
}

.centered-text-with-lines {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;

  .line {
    flex-grow: 1;
    height: 2px;
    background-color: var(--accent-500);
  }

  .text {
    white-space: nowrap;
    padding: 0 0.5rem;
    font-weight: 600;
    font-size: var(--font-xs);
    color: var(--font-light-color);
  }
}

.login-text-forgot-password {
  text-align: right;
  text-decoration: underline;
  cursor: pointer;
  color: var(--font-light-color);
  font-size: var(--font-sm);
  padding: 12px 5px 12px 0;

  &:hover {
    color: var(--primary-700);
  }
}

.login-header-design {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    pointer-events: none;
    background: radial-gradient(var(--primary-800), transparent 100%);
    filter: blur(100px);
    z-index: 0;
    overflow: hidden;
    background-size: 200% 200%;
    animation: breathe 4s ease-in-out infinite;
  }

  background-color: var(--primary-900);
  width: 100%;
  height: 100px;
  position: absolute;
  top: -25px;
  left: 0;
  border-radius: 0 0 100% 100%;
  filter: blur(100px);
  z-index: -1;
}

.login-header-subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.login-header-subtitle-link {
  color: var(--primary-800);
  cursor: pointer;
  text-decoration: underline;
}
