@use '../pxToRem.scss' as *;
@use '../breakpoints.scss' as *;

.settings-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
}

.settings-close {
  position: absolute;
  top: pxToRem(12);
  right: pxToRem(16);
  border: 2px solid var(--accent-500);
  display: flex;
  padding: pxToRem(8);
  border-radius: var(--radius-pill);
  color: var(--accent-200);

  &:hover {
    cursor: pointer;
    color: var(--accent-100);
    border-color: var(--accent-200);
  }
}

.settings-back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-pill);
  color: var(--accent-200);
  padding: pxToRem(8);

  &:hover {
    cursor: pointer;
    color: var(--accent-100);
    border-color: var(--accent-200);
  }
}

.settings-manage-invites-header {
  display: grid;
  gap: 10px;
  padding: 10px;
  margin-bottom: 10px;
  grid-template-columns: 1fr 150px 200px 100px;
  border-bottom: 2px solid var(--accent-600);
  font-weight: bold;
}

.settings-manage-invites-item {
  display: grid;
  gap: 10px;
  background-color: var(--accent-700);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  grid-template-columns: 1fr 150px 200px 100px;
  color: var(--font-light-color);
  cursor: pointer;
  border: 1px solid var(--accent-600);
  transition: border-color 0.2s ease;

  &:hover {
    border-color: var(--primary-600);
  }
}

.settings-invites-item-title {
  display: flex;
  align-items: center;
  height: 100%;
}

.settings-invites-item-subtitle {
  display: flex;
  align-items: center;
}

.settings-invites-buttons-container {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  align-items: center;
}

.settings-invites-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-900);
  padding: 10px;
  border-radius: 8px;

  &:hover {
    background-color: var(--accent-800);
  }
}

.settings-invite-permissions-container {
  gap: 10px;
  display: flex;
  flex-direction: column;
  padding: 15px 0 20px 0;

  & > div {
    border-bottom: 1px solid var(--accent-700);
    padding-bottom: 10px;

    &:last-child {
      border-bottom: none;
    }
  }
}

.settings-auth-switches {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.settings-auth-providers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}

.settings-auth-provider {
  display: flex;
  flex-direction: column;
  background-color: var(--accent-900);
  border-radius: 12px;
  border: 2px solid var(--accent-600);
}

.settings-auth-provider-img {
  width: 36px;
  height: 36px;
  padding: 3px;
  border-radius: 6px;
}

.settings-auth-provider-title {
  font-size: var(--font-xl);
  font-weight: 600;
  padding: 0 12px;
}

.settings-auth-provider-description {
  font-size: var(--font-sm);
  padding: 0 12px;
  color: var(--font-light-color);
}

.settings-auth-provider-config {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  background-color: var(--accent-800);
  padding: 12px;
  border-radius: 0 0 12px 12px;
}

@include mobile {
  .settings-close {
    top: pxToRem(8);
    right: pxToRem(8);
  }
}
