@use '../pxToRem.scss' as *;

// status-configure > sc

.sc-account-container {
  overflow-y: auto;
  padding: pxToRem(24) 0 pxToRem(100) 0;
  scroll-behavior: smooth;
}

.sc-content {
  padding: 0 15px;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow-y: auto;
}

// status modal configure > smc
.smc-title {
  text-align: center;
  font-size: var(--font-xl);
}

.smc-options {
  gap: 0.5rem;
  display: flex;
  padding: 0.75rem 0 0 0;
  align-items: center;
  border-bottom: 1px solid var(--accent-700);
}

.smc-options-item {
  border-bottom: 4px solid transparent;
  padding: 0.25rem 1rem 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
}

.text-input-container {
  position: relative;
}

.text-input {
  width: 100%;
  height: pxToRem(50);
  background-color: var(--accent-800);
  border: none;
  outline: none;
  color: var(--font-color);
  padding: 0 pxToRem(8);
  font-size: var(--font-md);
  font-weight: var(--weight-medium);
  border-radius: var(--radius-md);
  margin-top: pxToRem(4);
  border-color: var(--primary-700);
  border: 2px solid #ffffff00;

  &:focus {
    border: 2px solid var(--primary-700);
  }
}

.text-input-icon-left {
  padding-left: pxToRem(32);
}

.text-input-icon-right {
  padding-right: pxToRem(32);
}

.text-left-icon {
  position: absolute;
  box-sizing: border-box;
  left: 8px;
  top: 34px;
  transform: translateY(-50%);
}

.text-right-icon {
  position: absolute;
  box-sizing: border-box;
  right: 8px;
  top: 34px;
  transform: translateY(-50%);
}

.monitor-none-exist {
  height: 100%;
  width: 100%;
  font-weight: bold;
  font-size: var(--font-2xl);
  color: var(--font-light-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
