@use '../pxToRem.scss' as *;

.verify-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.verify-description {
  font-size: var(--font-md);
  color: var(--accent-100);
  text-align: center;
  margin: pxToRem(16) 0;
  width: 450px;
}

.verify-title {
  font-size: var(--font-3xl);
  font-weight: var(--weight-bold);
  color: var(--font-color);
  text-align: center;
}
