@import '../../styles/global.scss';

.top-navigation {
  display: flex;
  width: 100vw;
  background-color: var(--accent-900);
  padding: pxToRem(4) pxToRem(8);
  border-bottom: 2px solid var(--accent-700);
}

.top-navigation-logo-container {
  display: flex;
  transition: var(--transition-base);
  color: var(--font-color);
  user-select: none;

  &:hover {
    cursor: pointer;
    color: var(--primary-500);
  }
}

.top-navigation-logo {
  width: 55px;
  height: 55px;
}

.top-navigation-logo-text {
  font-size: var(--font-2xl);
  font-weight: var(--weight-bold);
  display: flex;
  align-items: center;
  margin-left: pxToRem(4);
}

.top-navigation-right-container {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.top-navigation-right-username {
  font-size: var(--font-xl);
  font-weight: bold;
  color: var(--font-color);
  transition: var(--transition-base);

  &:hover {
    cursor: pointer;
    color: var(--primary-500);
  }
}
