@use '../../../styles/pxToRem.scss' as *;

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container--no-glassmorph {
  background: rgba(0, 0, 0, 0.3);
}

.modal-container--glassmorph {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
}

.modal-content {
  background-color: var(--accent-900);
  border: 2px solid var(--accent-800);
  color: var(--font-color);
  padding: pxToRem(8) pxToRem(12) pxToRem(12) pxToRem(12);
  border-radius: pxToRem(12);
  min-width: pxToRem(300);
  max-width: 95%;
  max-height: 95%;
  overflow: auto;
  position: relative;
}

.modal-close-button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  cursor: pointer;
  color: var(--accent-300);

  &:hover svg {
    transform: scale(1.05);
    color: var(--accent-600);
  }
}

.modal-title {
  font-size: var(--font-xl);
  font-weight: 600;
  margin-bottom: pxToRem(10);
}

.modal-message {
  font-size: var(--font-sm);
  margin-bottom: pxToRem(10);
  color: var(--accent-100);
  max-width: 100%;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: pxToRem(10);
}

.modal-button {
  display: flex;
  justify-content: flex-end;
  margin-top: pxToRem(10);

  background-color: var(--gray-600);
  color: var(--white);
  border: none;
  border-radius: pxToRem(10);
  padding: pxToRem(6) pxToRem(14);
  font-size: var(--font-md);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: var(--gray-700);
  }
}

.modal-button--blue {
  background-color: var(--blue-800);

  &:hover {
    background-color: var(--blue-700);
  }
}

.modal-button--cyan {
  background-color: var(--cyan-800);

  &:hover {
    background-color: var(--cyan-700);
  }
}

.modal-button--gray {
  background-color: var(--gray-800);

  &:hover {
    background-color: var(--gray-700);
  }
}

.modal-button--green {
  background-color: var(--green-800);

  &:hover {
    background-color: var(--green-700);
  }
}
.modal-button--pink {
  background-color: var(--pink-800);

  &:hover {
    background-color: var(--pink-700);
  }
}

.modal-button--primary {
  background-color: var(--primary-800);

  &:hover {
    background-color: var(--primary-700);
  }
}

.modal-button--purple {
  background-color: var(--purple-800);

  &:hover {
    background-color: var(--purple-700);
  }
}

.modal-button--red {
  background-color: var(--red-800);

  &:hover {
    background-color: var(--red-700);
  }
}

.modal-button--yellow {
  background-color: var(--yellow-800);

  &:hover {
    background-color: var(--yellow-700);
  }
}
