.check-container {
  display: flex;
  width: fit-content;
}

.check-input {
  display: none;
}

.check-description {
  margin-left: 8px;
  font-size: 15px;
  color: var(--accent-200);
}

.check-title {
  font-size: 16px;
  color: var(--accent-50);
}

.check {
  cursor: pointer;
  position: relative;
  margin: auto;
  width: 18px;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.check:before {
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #c8ccd4;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}

.check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
  transition: all 0.3s linear;
  transition-delay: 0.15s;
}

.check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
  transition: all 0.2s linear;
}

#cbx1:checked + .check svg,
#cbx2:checked + .check svg,
#cbx3:checked + .check svg {
  stroke: var(--primary-700);
}

#cbx1:checked + .check svg path,
#cbx2:checked + .check svg path,
#cbx3:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}

#cbx1:checked + .check svg polyline,
#cbx2:checked + .check svg polyline,
#cbx3:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}
