@import '../styles/global.scss';

.home-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: pxToRem(12);
  gap: pxToRem(16);
  overflow-y: auto;
  margin-bottom: pxToRem(72);
}
