// status-uptime-basic-graph > subg

.subg-container {
  display: flex;
  background-color: var(--accent-800);
  padding: 12px 16px;
  border-radius: var(--radius-md);
  flex-direction: column;
  gap: 12px;
}

.subg-content {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  border: 2px solid var(--accent-700);
  padding: 12px 16px;
  border-bottom: none;

  &:first-child {
    border-radius: var(--radius-md) var(--radius-md) 0 0;
  }

  &:last-child {
    border-bottom: 2px solid var(--accent-700);
    border-radius: 0 0 var(--radius-md) var(--radius-md);
  }

  &:only-child {
    border-radius: var(--radius-md);
  }
}

.subg-title {
  font-size: var(--font-xl);
  font-weight: 700;
}

.subg-icon {
  color: var(--green-700);
  display: flex;
  justify-content: center;
  align-items: center;

  &.Operational {
    color: var(--green-700);
  }

  &.Maintenance {
    color: var(--blue-700);
  }

  &.Incident {
    color: var(--yellow-700);
  }

  &.Outage {
    color: var(--red-700);
  }
}

.subg-icon svg {
  width: 32px;
  height: 32px;
}

// status-uptime-pretty-graph > supg

.supg-container {
  display: flex;
  background-color: var(--accent-800);
  padding: 12px 16px;
  border-radius: var(--radius-md);
  flex-direction: column;
  gap: 12px;
}

.supg-content {
  display: flex;
  gap: 8px;
  flex-direction: column;
  border: 2px solid var(--accent-700);
  padding: 12px 16px;
  border-bottom: none;

  &:first-child {
    border-radius: var(--radius-md) var(--radius-md) 0 0;
  }

  &:last-child {
    border-bottom: 2px solid var(--accent-700);
    border-radius: 0 0 var(--radius-md) var(--radius-md);
  }
}

.supg-header {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
}

.supg-title {
  font-size: var(--font-xl);
  font-weight: 600;
}

.supg-subtitle {
  color: var(--green-700);

  &.Operational {
    color: var(--green-700);
  }

  &.Maintenance {
    color: var(--blue-700);
  }

  &.Incident {
    color: var(--yellow-700);
  }

  &.Outage {
    color: var(--red-700);
  }

  svg {
    width: 24px;
    height: 24px;
  }
}

.supg-pills-container {
  display: flex;
  justify-content: space-between;
  gap: 3px;

  &.Operational div:last-child {
    background-color: var(--green-700);
  }

  &.Maintenance div:last-child {
    background-color: var(--blue-700);
  }

  &.Incident div:last-child {
    background-color: var(--yellow-700);
  }

  &.Outage div:last-child {
    background-color: var(--red-700);
  }

  > div {
    width: 10px;
    height: 32px;
    background-color: var(--primary-700);

    &:first-child {
      border-radius: var(--radius-xs) 0 0 var(--radius-xs);
    }

    &:last-child {
      border-radius: 0 var(--radius-xs) var(--radius-xs) 0;
    }

    &.Operational {
      background-color: var(--green-700);
    }

    &.Maintenance {
      background-color: var(--blue-700);
    }

    &.Incident {
      background-color: var(--yellow-700);
    }

    &.Outage {
      background-color: var(--red-700);
    }

    &.gray {
      background-color: var(--accent-700);
    }
  }
}

.supg-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--font-light-color);
}

// status-uptime-nerdy-graph > sung

.sung-container {
  display: flex;
  background-color: var(--accent-800);
  padding: 12px 16px;
  border-radius: var(--radius-md);
  flex-direction: column;
  gap: 12px;
}

.sung-content {
  display: flex;
  gap: 8px;
  flex-direction: column;
  border: 2px solid var(--accent-700);
  padding: 12px 16px;
  border-bottom: none;

  &:first-child {
    border-radius: var(--radius-md) var(--radius-md) 0 0;
  }

  &:last-child {
    border-bottom: 2px solid var(--accent-700);
    border-radius: 0 0 var(--radius-md) var(--radius-md);
  }
}

.sung-header {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
}

.sung-title {
  font-size: var(--font-xl);
  font-weight: 600;
}

.sung-subtitle {
  color: var(--green-700);

  &.Operational {
    color: var(--green-700);
  }

  &.Maintenance {
    color: var(--blue-700);
  }

  &.Incident {
    color: var(--yellow-700);
  }

  &.Outage {
    color: var(--red-700);
  }

  svg {
    width: 24px;
    height: 24px;
  }
}

.sung-pills-container {
  display: flex;
  justify-content: space-between;
  gap: 3px;

  &.Operational div:last-child {
    background-color: var(--green-700);
  }

  &.Maintenance div:last-child {
    background-color: var(--blue-700);
  }

  &.Incident div:last-child {
    background-color: var(--yellow-700);
  }

  &.Outage div:last-child {
    background-color: var(--red-700);
  }

  > div {
    width: 100%;
    height: 32px;
    background-color: var(--primary-700);

    &:first-child {
      border-radius: var(--radius-xs) 0 0 var(--radius-xs);
    }

    &:last-child {
      border-radius: 0 var(--radius-xs) var(--radius-xs) 0;
    }

    &.Operational {
      background-color: var(--green-700);
    }

    &.Maintenance {
      background-color: var(--blue-700);
    }

    &.Incident {
      background-color: var(--yellow-700);
    }

    &.Outage {
      background-color: var(--red-700);
    }

    &.gray {
      background-color: var(--accent-600);
    }
  }
}

.sung-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--font-light-color);
  gap: 8px;
}
