@import '../../styles/global.scss';

.home-add-monitor-container {
  width: pxToRem(250);
  height: pxToRem(225);
  background-color: var(--accent-900);
  padding: pxToRem(8) pxToRem(12);
  border-radius: var(--radius-md);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: var(--transition-base);
  user-select: none;
  box-shadow: var(--shadow-md);

  &:hover {
    cursor: pointer;
    margin: -5px 0 5px 0;
    color: var(--primary-500);
  }
}

.home-add-monitor-icon {
  color: var(--font-color);
  font-size: var(--font-xl);
  margin-bottom: pxToRem(4);
}

.home-add-monitor-title {
  color: var(--font-color);
  font-size: var(--font-xl);
  font-weight: var(--weight-bold);
  margin-bottom: pxToRem(4);
}
