@import '../../styles/global.scss';

.dropdown {
  position: relative;
  padding: 0;
  border: none;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.dropdown summary {
  list-style: none;
  list-style-type: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown > summary::-webkit-details-marker {
  display: none;
}

.dropdown summary:focus {
  outline: none;
}

.dropdown summary:focus {
  outline: none;
}

.dropdown ul {
  position: absolute;
  margin: 20px 0 0 0;
  min-width: 150px;
  width: max-content;
  box-sizing: border-box;
  z-index: 2;
  border-radius: 6px;
  list-style: none;
  border-radius: 10px;

  @include glassmorphism;
}

/* Dropdown triangle */
// .dropdown ul::before {
//   content: ' ';
//   position: absolute;
//   width: 0;
//   height: 0;
//   top: -10px;
//   left: 25px;
//   margin-left: -10px;
//   border-style: solid;
//   border-width: 0 10px 10px 10px;
//   border-color: transparent transparent rgba(0, 0, 0, 0.3) transparent;
// }

.dropdown-position--left ul {
  right: 0;
}

.dropdown-position--right ul {
  left: 0;
}

.dropdown-position--center ul {
  left: 50%;
  transform: translateX(-50%);
}

.dropdown-position--top ul {
  margin: 0;
  padding: 0;
  top: -100%;
  bottom: auto;
}

.dropdown-position--top ul li:first-child {
  border-radius: 0 0 10px 10px;
}

.dropdown-position--top ul li:last-child {
  border-radius: 10px 10px 0 0;
}

.dropdown ul li {
  margin: 0;
  padding: 10px 0.8rem;
  width: 100%;
  box-sizing: border-box;
  color: var(--font-color);
  text-decoration: none;
}

.dropdown ul li:first-child {
  border-radius: 10px 10px 0 0;
}

.dropdown ul li:last-child {
  border-radius: 0 0 10px 10px;
}

.dropdown ul li:hover {
  background-color: var(--primary-800);
  color: var(--font-color);
  cursor: pointer;
}

/* Close the dropdown with outside clicks */
.dropdown > summary::before {
  display: none;
}

.dropdown[open] > summary::before {
  content: ' ';
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}
