@import '../../styles/global.scss';

.dropdown-group {
  display: flex;
  flex-direction: column;
  margin-top: pxToRem(4);
}

.dropdown-label {
  display: block;
  font-size: var(--font-md);
  font-weight: var(--weight-semibold);
  color: var(--font-color);
  margin: pxToRem(16) 0 pxToRem(4) pxToRem(4);
}

.dropdown-control {
  width: 100%;
  height: pxToRem(50);
  background-color: var(--accent-800);
  border: none;
  outline: none;
  color: var(--font-color);
  padding: 0 pxToRem(16) 0 pxToRem(8);
  font-size: var(--font-md);
  font-weight: var(--weight-medium);
  border-radius: var(--radius-md);
  margin-top: pxToRem(4);
  border-color: var(--primary-700);
  border: 2px solid #ffffff00;

  &::placeholder {
    color: #e5e5e5;
  }

  &:focus {
    border: 2px solid var(--primary-700);
  }
}

option {
  background-color: var(--accent-800);
  color: var(--font-color);
  font-size: var(--font-xl);
  font-weight: var(--weight-medium);
  border-radius: var(--radius-md);
  border: none;
  outline: none;
  padding: pxToRem(8);
  margin: pxToRem(4) 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
