@import '../../styles/global.scss';

.dropdown-group {
  display: flex;
  flex-direction: column;
  margin-top: $SPACING_2;
}

.dropdown-label {
  display: block;
  font-size: $FONT_MD;
  font-weight: $WEIGHT_SEMIBOLD;
  color: $FONT_COLOR;
  margin: $SPACING_5 0 $SPACING_2 $SPACING_2;
}

.dropdown-control {
  width: 100%;
  height: pxToRem(50);
  background-color: $ACCENT_800;
  border: none;
  outline: none;
  color: $FONT_COLOR;
  padding: 0 $SPACING_5 0 $SPACING_3;
  font-size: $FONT_MD;
  font-weight: $WEIGHT_MEDIUM;
  border-radius: $RADIUS_MD;
  margin-top: $SPACING_2;
  border-color: $PRIMARY_700;
  border: 2px solid #ffffff00;

  &::placeholder {
    color: #e5e5e5;
  }

  &:focus {
    border: 2px solid $PRIMARY_700;
  }
}

option {
  background-color: $ACCENT_800;
  color: $FONT_COLOR;
  font-size: $FONT_XL;
  font-weight: $WEIGHT_MEDIUM;
  border-radius: $RADIUS_MD;
  border: none;
  outline: none;
  padding: $SPACING_3;
  margin: $SPACING_2 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
