@import '../../styles/global.scss';

.text-input-container {
  position: relative;
}

.text-input {
  width: 100%;
  height: pxToRem(50);
  background-color: var(--accent-800);
  border: none;
  outline: none;
  color: var(--font-color);
  padding: 0 pxToRem(8);
  font-size: var(--font-md);
  font-weight: var(--weight-medium);
  border-radius: var(--radius-md);
  margin-top: pxToRem(4);
  border-color: var(--primary-700);
  border: 2px solid #ffffff00;

  &:focus {
    border: 2px solid var(--primary-700);
  }
}

.text-input-icon-left {
  padding-left: pxToRem(32);
}

.text-input-icon-right {
  padding-right: pxToRem(32);
}

.text-left-icon {
  position: absolute;
  box-sizing: border-box;
  left: 8px;
  top: 34px;
  transform: translateY(-50%);
}

.text-right-icon {
  position: absolute;
  box-sizing: border-box;
  right: 8px;
  top: 34px;
  transform: translateY(-50%);
}

.text-input-label {
  display: block;
  font-size: var(--font-md);
  font-weight: var(--weight-semibold);
  color: var(--font-color);
  margin: pxToRem(12) 0 pxToRem(4) pxToRem(4);
}

.text-input-error {
  color: var(--red-700);
  font-size: var(--font-sm);
  margin: pxToRem(4);
  display: block;
}

.text-input-error-general {
  color: var(--red-700);
  font-size: var(--font-md);
  margin: pxToRem(4);
  display: block;
  text-align: center;
}
