@import '../../styles/global.scss';

.pill-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.pill {
  display: inline-block;
  width: 6px;
  height: 18px;
  margin: 2px;
  border-radius: $RADIUS_SM;
  font-size: $FONT_XS;
  font-weight: $WEIGHT_MEDIUM;
  text-transform: uppercase;
  background-color: $ACCENT_600;

  &:hover {
    cursor: pointer;
    margin: 0;
    width: 10px;
    height: 22px;
  }

  &.pill-healthy {
    background-color: $GREEN_600;
  }

  &.pill-warning {
    background-color: $YELLOW_600;
  }

  &.pill-warning {
    background-color: $RED_600;
  }
}
