@use '../../styles/pxToRem.scss' as *;

.search-bar-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  color: var(--font-color);
  padding: 0 pxToRem(10);
  font-size: var(--font-md);
  font-weight: var(--weight-medium);
  border-radius: var(--radius-md);
  background-color: var(--accent-700);
  border-color: var(--primary-700);
  border: 2px solid #ffffff00;

  &:focus {
    border: 2px solid var(--primary-700);
  }
}

.search-bar-input-label {
  display: block;
  font-size: var(--font-md);
  font-weight: var(--weight-semibold);
  color: var(--font-color);
  margin: pxToRem(12) 0 pxToRem(4) pxToRem(4);
}
