@import '../../styles/global.scss';

.status-bar-container {
  display: grid;
  direction: rtl;
  gap: pxToRem(8);
}

.status-bar {
  background-color: red;
  width: 100%;
  border-radius: pxToRem(12);
  height: pxToRem(25);
  background-color: var(--accent-600);

  &:hover {
    cursor: pointer;
    margin: 0;
    border-radius: pxToRem(4);
  }

  &.status-bar-healthy {
    background-color: var(--green-600);
  }

  &.status-bar-alert {
    background-color: var(--red-600);
  }

  &.status-bar-unknown {
    background-color: var(--gray-600);
  }
}
