@use '../../styles/pxToRem.scss' as *;

.tooltip-container {
  position: relative;
  display: inline-block;

  &:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }
}

.tooltip {
  position: absolute;
  background-color: var(--accent-600);
  color: var(--font-color);
  padding: pxToRem(8);
  font-size: var(--font-md);
  font-weight: var(--weight-medium);
  border-radius: var(--radius-sm);
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  z-index: 10;
  max-width: pxToRem(200);

  &::after {
    content: '';
    position: absolute;
    border-style: solid;
  }
}

.tooltip--top {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;

  &::after {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px 5px 0 5px;
    border-color: var(--accent-600) transparent transparent transparent;
  }
}

.tooltip--bottom {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;

  &::after {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent var(--accent-600) transparent;
  }
}

.tooltip--left {
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 10px;

  &::after {
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent var(--accent-600);
  }
}

.tooltip--right {
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;

  &::after {
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    border-width: 5px 5px 5px 0;
    border-color: transparent var(--accent-600) transparent transparent;
  }
}

.tooltip--primary {
  background-color: var(--primary-700);
  color: var(--font-color);
}

.tooltip--blue {
  background-color: var(--blue-700);
  color: var(--font-color);
}

.tooltip--cyan {
  background-color: var(--cyan-700);
  color: var(--font-color);
}
.tooltip--green {
  background-color: var(--green-700);
  color: var(--font-color);
}

.tooltip--pink {
  background-color: var(--pink-700);
  color: var(--font-color);
}

.tooltip--purple {
  background-color: var(--purple-700);
  color: var(--font-color);
}

.tooltip--red {
  background-color: var(--red-700);
  color: var(--font-color);
}

.tooltip--yellow {
  background-color: var(--yellow-700);
  color: var(--font-color);
}

.tooltip--gray {
  background-color: var(--gray-700);
  color: var(--font-color);
}
