@use '../../../styles/breakpoints.scss' as *;
@use '../../../styles/pxToRem.scss' as *;

.monitor-chart-content {
  width: 100%;
  height: 425px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.75rem;
}

.monitor-chart-container {
  background-color: var(--accent-800);
  border-radius: pxToRem(16);
  gap: pxToRem(10);
  display: flex;
  flex-direction: column;
}

.monitor-chart-buttons-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: pxToRem(10);
  padding: pxToRem(10) pxToRem(10) 0 0;
}

.monitor-chart-dropdown-container {
  display: none;
}

// monitor-chart-graph-ping > mcgp
.mcgp-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 12px 0px 24px 0px;
}

.mcgp-item {
  padding: 8px 28px;

  &:not(:last-child) {
    border-right: 1px solid var(--accent-600);
  }
}

.mcgp-header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.mcgp-icon {
  color: var(--font-light-color);
  display: flex;

  &.red svg {
    color: var(--red-800);
  }

  &.green svg {
    color: var(--green-800);
  }
}

.mcgp-title {
  font-weight: bold;
  font-size: var(--font-xl);
}

.mcgp-subtitle {
  color: var(--font-light-color);
}

@include laptop {
  .monitor-chart-content {
    height: 325px;
  }
}

@include tablet {
  .monitor-chart-content {
    height: 280px;
  }
}

@include mobile {
  .monitor-chart-content {
    height: 250px;
  }

  .monitor-chart-buttons-container {
    display: none;
  }

  .monitor-chart-dropdown-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: pxToRem(10);
    padding: pxToRem(10) pxToRem(10) 0 0;
  }

  // .mcgp-container {
  //   grid-template-columns: 1fr;
  //   padding: 0;
  // }
}
