/**
 * Colors
 * -------------------------------------------------------------------------- */
:root {
  --vp-c-brand: #646cff;
  --vp-c-brand-light: #747bff;
  --vp-c-brand-lighter: #9499ff;
  --vp-c-brand-lightest: #bcc0ff;
  --vp-c-brand-dark: #535bf2;
  --vp-c-brand-darker: #454ce1;
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);

  --vt-c-green: #42b883;
  --vt-c-green-light: #42d392;
  --vt-c-green-dark: #33a06f;
  --vt-c-yellow: #ffc517;
  --vt-c-yellow-light: #ffe417;
  --vt-c-yellow-dark: #e0ad15;
  --vt-c-red: #b8272c;
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe 30%,
    #41d1ff
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #bd34fe 50%,
    #47caff 50%
  );
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-darker);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

.dark {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-lightest);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}

.VPHomeFeatures {
  margin-top: 75px;
}

.VPBadge.post {
  border-color: var(--vp-badge-tip-border);
  color: #a8ffbe;
  background-color: #64ff6429;
}

.image {
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

.container-content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  gap: 20px;
}
.right,
.left {
  flex: 1;
  padding: 1rem;
  min-width: 300px;
}
.right {
  align-self: flex-start;
  position: sticky;
  height: max-content;
}

ol.order-list-I {
  list-style: none;
  counter-reset: li;
  padding-left: 0px;
}

ol.order-list-I > li {
  counter-increment: li;
}

ol.order-list-I > li::before {
  display: inline-block;
  content: counter(li);
  color: var(--vp-c-brand-dark);
  border: 1px var(--vp-c-brand-dark) solid;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  margin-right: 8px;
  background-color: var(--vp-c-brand-lightest);
}

ol.order-list-I > li > ol {
  list-style: none;
  counter-reset: li;
  margin-left: 10px;
}

ol.order-list-I > li > ol > li {
  counter-increment: li;
}

ol.order-list-I > li > ol > li::before {
  display: inline-block;
  content: counter(li);
  color: var(--vp-c-brand);
  border: 1px var(--vp-c-brand) solid;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  margin-right: 8px;
  background-color: var(--vp-c-brand-dimm);
}

ol.order-list-I ol ol {
  list-style: none;
  counter-reset: li;
  margin-left: 10px;
}

ol.order-list-I ol li {
  counter-increment: li;
}

ol.order-list-I ol li::before {
  display: inline-block;
  content: counter(li);
  border: 1px solid;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  margin-right: 8px;
}

div[icon-type] > .custom-block-title {
  display: flex;
  align-items: center;
}

div[icon-type*='tip'] > .custom-block-title::before {
  content: 'i';
  margin-right: 5px;
  font-size: 16px;
}

div[icon-type*='info'] > .custom-block-title::before {
  content: 'ⓘ';
  margin-right: 5px;
  font-size: 20px;
  color: inherit;
}

div[icon-type*='warning'] > .custom-block-title::before {
  content: '⚠';
  margin-right: 5px;
  font-size: 20px;
  color: inherit;
}

div[icon-type*='video'] > .custom-block-title::before {
  content: '⏵';
  font-size: 20px;
  color: inherit;
  margin-right: 5px;
}

div[icon-type*='danger'] > .custom-block-title::before {
  content: '!';
  font-size: 20px;
  color: inherit;
  margin-right: 5px;
}

.info.custom-block[icon-type*='bordered'] {
  border: 1px solid var(--vt-c-green);
}

.info.custom-block[icon-type*='bordered'] > .custom-block-title::before {
  color: var(--vt-c-green);
}

.warning.custom-block[icon-type*='bordered'] {
  border: 1px solid var(--vt-c-yellow);
}

.warning.custom-block[icon-type*='bordered'] > .custom-block-title::before {
  color: var(--vt-c-yellow);
}

.danger.custom-block[icon-type*='bordered'] {
  border: 1px solid var(--vt-c-red);
}

.danger.custom-block[icon-type*='bordered'] > .custom-block-title::before {
  color: var(--vt-c-red);
}
