@use '../../styles/breakpoints.scss' as *;

.monitor-view-menu-container {
  display: flex;
  gap: 10px;
  background-color: var(--accent-800);
  padding: 10px;
  border-radius: var(--radius-md);
}

.monitor-view-menu-content {
  display: flex;
  gap: 10px;
  align-items: center;
}

.monitor-view-menu-name {
  flex: 1;
  display: flex;
  font-size: var(--font-2xl);
  font-weight: bold;
  flex-direction: column;
  justify-content: center;

  & > .subtitle {
    font-size: var(--font-sm);
    font-weight: normal;
    color: var(--font-light-color);

    & > span {
      font-weight: bold;
    }

    & > a {
      color: var(--primary-600);
    }
  }
}

.monitor-header-subtitle {
  font-size: var(--font-sm);
  font-weight: normal;
  color: var(--font-light-color);

  & > span {
    font-weight: bold;
  }

  & > a {
    color: var(--primary-600);
  }
}

.monitor-view-menu-container .dropdown {
  display: none;
}

@include mobile {
  .monitor-view-menu-container {
    justify-content: center;
    align-items: center;
  }

  .monitor-view-menu-container .button {
    display: none;
  }

  .monitor-view-menu-container .dropdown {
    display: block;
  }
}
