@use '../../styles/breakpoints.scss' as *;
@use '../../styles/pxToRem.scss' as *;

.monitor-status-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: var(--font-color);
  gap: pxToRem(16);
}

.monitor-status-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-800);
  border-radius: pxToRem(16);
  padding: pxToRem(8) 0;
}

.monitor-status-title {
  font-size: var(--font-2xl);
  font-weight: var(--weight-bold);
  text-align: center;
}

.monitor-status-subtitle {
  font-size: var(--font-md);
  font-weight: var(--weight-medium);
  color: var(--accent-200);
}

.montior-status-text {
  font-size: var(--font-xl);
}

@include tablet {
  .monitor-status-container {
    grid-template-columns: 1fr 1fr;
  }
}

@include mobile {
  .monitor-status-container {
    grid-template-columns: 1fr;
  }
}
