@import '../../styles/global.scss';

.monitor-status-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: var(--accent-900);
  border-radius: pxToRem(16);
  padding: pxToRem(8) 0;
  color: var(--font-color);
}

.monitor-status-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.monitor-status-title {
  font-size: var(--font-3xl);
  font-weight: var(--weight-bold);
}

.monitor-status-subtitle {
  font-size: var(--font-xl);
  font-weight: var(--weight-medium);
  color: var(--accent-200);
}

.montior-status-text {
  font-size: var(--font-2xl);
}
