@use '../../styles/pxToRem.scss' as *;

.monitor-uptime-container {
  background-color: var(--accent-900);
  border-radius: pxToRem(16);
  padding: pxToRem(16);
  display: grid;
  grid-template-columns: 1fr;
  gap: pxToRem(16) 0;
}

.monitor-uptime-content {
  display: grid;
  grid-template-columns: 125px 1fr 1fr;
  background-color: var(--accent-800);
  padding: pxToRem(12) 0 pxToRem(12) pxToRem(12);
  border-radius: pxToRem(8);
  color: var(--font-color);

  &:hover {
    cursor: pointer;
    background-color: var(--accent-700);
  }
}

.monitor-uptime-header-container {
  display: grid;
  grid-template-columns: 125px 1fr 1fr;
}

.monitor-uptime-header {
  font-size: var(--font-lg);
  font-weight: 600;
  text-align: left;
  border-bottom: 1px solid var(--accent-700);
  padding-bottom: pxToRem(8);
}

.monitor-uptime-info {
  font-size: var(--font-md);
  display: flex;
  align-items: center;
  font-weight: var(--weight-medium);
}

.monitor-uptime-info-button {
  color: var(--white);
  font-size: var(--font-md);
  border: none;
  background-color: var(--primary-800);
  border-radius: pxToRem(8);
  padding: pxToRem(8) 0;
  text-align: center;
  cursor: pointer;
  width: 100px;
  font-weight: var(--weight-bold);
  height: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;

  &:hover {
    background-color: var(--primary-700);
  }

  &.monitor-uptime-info-button-active {
    background-color: var(--primary-800);

    &:hover {
      background-color: var(--primary-700);
    }
  }

  &.monitor-uptime-info-button-inactive {
    background-color: var(--red-800);

    &:hover {
      background-color: var(--red-700);
    }
  }
}
