@use '../../pxToRem.scss' as *;

// status-configure > sc

.sc-account-container {
  overflow-y: auto;
  padding: pxToRem(24) 0 pxToRem(100) 0;
  scroll-behavior: smooth;
}

.sc-content {
  padding: 0 15px;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow-y: auto;
}
