@use '../../styles/pxToRem.scss' as *;

// status-page-table > spt

.spt-container {
  display: flex;
  flex-direction: column;
  margin: pxToRem(10) pxToRem(10) 0px pxToRem(10);
}

// status-page-table-item > spti

.spti {
  display: flex;
  align-items: center;
  gap: pxToRem(12);
}

.spti-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;

  div {
    font-size: var(--font-sm);
  }
}

.spti-icon {
  padding: 10px;
  background-color: var(--accent-700);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--primary-700);

  svg {
    width: 20px;
    height: 20px;
  }
}

.spti-url {
  color: var(--font-light-color);
}

.spt-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;

  div,
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-900);
    padding: 10px;
    border-radius: 10px;

    svg {
      width: 20px;
      height: 20px;
    }

    &:hover svg {
      color: var(--primary-700);
    }

    &.bin:hover svg {
      color: var(--red-700);
    }
  }
}

.navigation-status-page-items {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 0.25rem 0.5rem;
  gap: 0.5rem;

  .item {
    display: flex;
    align-items: center;
    color: var(--font-color);
    font-size: var(--font-lg);
    padding: pxToRem(4) pxToRem(8);
    border-radius: var(--radius-sm);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: var(--transition-base);
    gap: 0.5rem;

    .content {
      flex: 1;
    }

    .icon-container {
      display: flex;
      align-items: center;
    }

    .url {
      font-size: var(--font-sm);
      color: var(--accent-200);
    }

    &.active {
      color: var(--primary-500);
      background-color: var(--accent-800);
    }

    &:hover {
      cursor: pointer;
      color: var(--primary-500);
      background-color: var(--accent-800);
    }
  }
}

.status-action-bar-container {
  display: flex;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  width: 850px;
  align-items: center;

  .title {
    flex: 1;
    font-weight: var(--weight-semibold);
  }

  .buttons {
    display: flex;
    gap: 0.5rem;
  }
}

.status-page-preview-container {
  box-sizing: border-box;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 0.3rem;
  border-radius: var(--radius-sm);
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.status-page-preview-content {
  display: flex;
  flex-direction: column;
  transition: 0.2s ease-in-out all;
  border-radius: var(--radius-sm);
  color: var(--font-color);
  padding: 0.3rem 0.5rem;

  &:hover {
    background-color: var(--accent-800);
    cursor: pointer;
  }
}
