@use '../../../../../styles/pxToRem.scss' as *;
@use '../../../../../styles/breakpoints.scss' as *;

// scl > status-configure-layout
.scl-history-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 16px;
  flex: 1;
  width: 100%;
  max-width: var(--status-page-max-width);
}

.scl-history-title {
  font-size: var(--font-lg);
  font-weight: 600;
}

.scl-history-date {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin: 16px 0 8px 0;
  border-bottom: 2px solid var(--accent-700);
  padding-bottom: 8px;
  font-size: var(--font-lg);
}

.scl-history-subtitle {
  color: var(--font-light-color);
  font-size: var(--font-sm);
}
