@use '../../../../../styles/pxToRem.scss' as *;
@use '../../../../../styles/breakpoints.scss' as *;

// sclh > status-configure-layout-history
.sclh-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 16px;
  flex: 1;
  width: 100%;
  max-width: var(--status-page-max-width);
}

.sclh-title {
  font-size: var(--font-lg);
  font-weight: 600;
}

.sclh-date {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin: 16px 0 8px 0;
  border-bottom: 2px solid var(--accent-700);
  padding-bottom: 8px;
  font-size: var(--font-lg);
}

.sclh-subtitle {
  color: var(--font-light-color);
  font-size: var(--font-sm);
}

// sclhi > status-configure-layout-history-incident

.sclhi-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sclhi-text-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.sclhi-title {
  font-size: var(--font-xl);
  font-weight: 600;
}

.sclhi-subtitle {
  color: var(--font-color);
  font-weight: 700;
}

.sclhi-text {
  color: var(--font-color);
  font-weight: 300;
}

.sclhi-date {
  font-size: var(--font-xs);
  color: var(--font-light-color);
}
