@import '../pxToRem.scss';

$FONT_XS: pxToRem(12);
$FONT_SM: pxToRem(14);
$FONT_MD: pxToRem(16);
$FONT_LG: pxToRem(18);
$FONT_XL: pxToRem(20);
$FONT_2XL: pxToRem(24);
$FONT_3XL: pxToRem(30);
$FONT_4XL: pxToRem(36);
$FONT_5XL: pxToRem(48);
$FONT_6XL: pxToRem(60);
$FONT_7XL: pxToRem(72);
$FONT_8XL: pxToRem(96);
$FONT_9XL: pxToRem(128);
