@import '../../../../styles/global.scss';

.home-monitor-container-compact {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 100px 100px;
  background-color: var(--accent-900);
  padding: pxToRem(8) pxToRem(12);
  transition: var(--transition-base);

  &:hover {
    cursor: pointer;

    .home-monitor-name-compact {
      color: var(--primary-500);
    }
  }
}

.home-monitor-name-compact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--font-color);
  font-size: var(--font-lg);
}

.home-monitor-uptime-compact {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--font-color);
  font-size: var(--font-lg);
}
