@import '../../../../styles/global.scss';

.home-monitor-container-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 100px 100px 250px;
  background-color: var(--accent-900);
  padding: pxToRem(8) pxToRem(12);
  transition: var(--transition-base);

  &:hover {
    cursor: pointer;

    .home-monitor-name-list {
      color: var(--primary-500);
    }
  }
}

.home-monitor-type-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--font-color);
  font-size: var(--font-xl);
  font-weight: var(--weight-bold);
  margin-bottom: pxToRem(4);
  transition: var(--transition-base);
}

.home-monitor-name-list {
  color: var(--font-color);
  font-size: var(--font-lg);
  font-weight: var(--weight-bold);
}

.home-monitor-url {
  color: var(--accent-100);
  font-size: var(--font-md);
  font-weight: var(--weight-medium);
  margin-bottom: pxToRem(4);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
  display: block;
  width: 100%;
}

.home-monitor-uptime-list,
.home-monitor-uptime-ping {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--font-color);
  font-size: var(--font-lg);
  font-weight: var(--weight-bold);
}

.home-monitor-list-heartbeats {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-monitor-options-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@include tablet {
  .home-monitor-container-list {
    grid-template-columns: 1fr 100px 100px;
  }

  .home-monitor-list-heartbeats {
    display: none;
  }
}

@include mobile {
  .home-monitor-container-list {
    grid-template-columns: 1fr 100px;
  }

  .home-monitor-list-heartbeats {
    display: none;
  }

  .home-monitor-uptime-ping {
    display: none;
  }

  .home-monitor-url {
    display: none;
  }
}
