@use '../../../../styles/pxToRem.scss' as *;

// status-configure-content > scc

.scc-block {
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-md);
  margin-bottom: pxToRem(48);
  gap: pxToRem(12);
  position: relative;
  padding: 1rem;
  border: 2px solid var(--accent-600);
}

.scc-title {
  font-size: var(--font-xl);
  font-weight: 700;
}

.scc-description {
  font-size: var(--font-sm);
  color: var(--font-light-color);
}

// status-configure-colors > scc
.scc-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: pxToRem(16);
}

.scc-container > div {
  flex: 1;
  z-index: 1;
}

// status-configure-branding > scb

.scb-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: pxToRem(16);
}
