.table-container {
  width: 100%;
  overflow-x: auto;
  padding: 1rem;
  box-sizing: border-box;
}

.responsive-table {
  min-width: 400px;
  width: 100%;
  border-collapse: collapse;
  box-shadow: var(--shadow-sm);
  background-color: transparent;

  th,
  td {
    padding: 12px 15px;
    text-align: left;
    white-space: nowrap;
  }

  th {
    background-color: var(--accent-900);
    font-weight: bold;
    color: var(--font-light-color);
    border-bottom: 2px solid var(--accent-600);

    &:first-child {
      border-top-left-radius: var(--radius-md);
    }

    &:last-child {
      border-top-right-radius: var(--radius-md);
    }
  }

  td {
    background: var(--accent-800);
    border-bottom: 1px solid var(--accent-600);
    color: var(--font-color);
  }

  tr {
    transition: background 0.3s ease;

    &:hover {
      color: var(--primary-700);
    }
  }

  th.sortable {
    user-select: none;

    &:hover {
      cursor: pointer;
      color: var(--primary-700);
    }
  }

  th.sortable {
    position: relative;

    & div {
      display: flex;
      align-items: center;
    }

    .sort-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1rem;
      margin-left: 0.5rem;

      & svg {
        width: 0.9rem;
        height: 0.9rem;
      }
    }
  }

  tfoot {
    background-color: var(--accent-900);
    color: var(--font-light-color);
    font-weight: bold;
    font-size: var(--font-sm);
    text-align: center;
  }

  .table-align-left {
    text-align: left;
  }

  .table-align-center {
    text-align: center;
  }

  .table-align-right {
    text-align: right;
  }

  .hoverable {
    cursor: pointer;
  }
}
